/* Sidebar */
.sidebar {
  /* display: flex; */
  flex-direction: column;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;

  border-radius: 24px;

  /* margin-top: 2rem; */
  /* flex: 0 0 250px; */
  width: 250px;
  /* min-width: 250px; */
  height: 100%;
  z-index: 5;
  transition: 0.2s ease-in-out;
}

.sidebar.slide-in {
  width: 0;
  /* min-width: 0px; */
  visibility: hidden;
  opacity: 0;
  /* animation: slideIn 0.3s; */
}

.sidebar.out {
  animation: slideOut 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateX(-0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sidebar .nav-links {
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
}

.sidebar .nav-links.admin {
  background-color: var(--admin-accent-color);
}
.sidebar .nav-links.teacher {
  background-color: var(--teacher-accent-color);
}
.sidebar .nav-links.student {
  background-color: var(--student-accent-color);
}

.sidebar .nav-link {
  font-size: 1.05rem;
  color: rgb(255, 255, 255);
  color: var(--color-light);
  padding: 0.75rem 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  border-radius: 10px;
  /* margin-bottom: 0.625rem; */
}

.sidebar .nav-link.admin:hover {
  background-color: var(--admin-bg-color);
}
.sidebar .nav-link.teacher:hover {
  background-color: var(--teacher-bg-color);
}
.sidebar .nav-link.student:hover {
  background-color: var(--student-bg-color);
}

.sidebar .nav-link.active {
  color: #ffffff;
}

.sidebar .nav-link.admin.active {
  background-color: var(--admin-bg-color);
}
.sidebar .nav-link.teacher.active {
  background-color: var(--teacher-bg-color);
}
.sidebar .nav-link.student.active {
  background-color: var(--student-bg-color);
}
