.exams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.exams .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  padding: 0.75rem 0rem 0rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--blue-bg);
  background-color: rgb(64, 140, 191, 0.4);
}

.exams .box p {
  font-size: 1.35rem;
  font-weight: bold;
}

.exams .box button {
  margin-top: auto;
}

.exam-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.exam-list .exam-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15), -1px -1px 4px rgba(0, 0, 0, 0.15);
}

.exam-list .exam-item:hover {
  border-color: rgba(0, 0, 0, 0.15);
}

.exam-item .form-button {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}

.exam-item .form-button:hover {
  color: white;
  color: #0000007c;
}

.exam-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.exam-item .icon {
  cursor: pointer;
}

/* REPORT STYLES */
.reports {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.reports .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--blue-bg);
  background-color: rgb(64, 140, 191, 0.4);
}

.reports .box .details {
  padding: 1rem;
}

.reports .box p {
  font-size: 1.35rem;
  font-weight: bold;
}

.reports .box button {
  margin-top: auto;
}
