.exams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.exams .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  padding: 0.75rem 0rem 0rem;
  border-radius: 1rem;
  overflow: hidden;
}

.exam-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.exam-list .exam-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
}

.exam-item .form-button {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
}

.exam-item .form-button:hover {
  color: white;
  color: #0000007c;
}

.exam-item h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.exam-item .icon {
  cursor: pointer;
}
