.dashboard-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  color: #666;
  background-color: #ffe;
  background-color: #fff;
}

.main-section {
  display: flex;
  /* gap: 2rem; */

  height: 100%;
  color: #666;
  background-color: #ffe;
  background-color: #fff;
  position: relative;
  overflow-y: scroll;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 1rem 2rem;
  overflow-y: auto;
  transition: 0.3s all;
  background-color: #fafafa;
}

.main-content .width {
  max-width: 1200px;
  margin: 0 auto;
}

/* https://i.pravatar.cc/48?u=118836 */
