.dashboard-container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  color: #666;
  background-color: #ffe;
}

.main-section {
  display: flex;
  /* gap: 2rem; */

  height: 100%;
  color: #666;
  background-color: #ffe;
  position: relative;
  overflow-y: scroll;
}

/* Main Content */
.main-content {
  flex-grow: 9;
  padding: 1rem 2rem;
  overflow-y: auto;
  transition: 0.3s all;
}

/* https://i.pravatar.cc/48?u=118836 */
